body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('https://media.giphy.com/media/jtd6dzbJuEGYnP9QWv/giphy.gif?cid=790b76116ivcqg0ahybknndicl3lu6ito1dj88283ex4v8lt&ep=v1_gifs_search&rid=giphy.gif&ct=g') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.contenedor {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #333;
}

.cartas-usuarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.user-card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra el contenido horizontalmente */
}

.user-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.user-card img {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo la proporción */
}

.user-card h3 {
    margin: 10px 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.user-card p {
    color: #666;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
